body { /* Styles for the body element */
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #e9ecff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.map-container { /* Container for the map */
    position: relative;
    width: 100vw;
    height: 100vh;
}

.map { /* Map background */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.float { /* Floating elements */
      width: 110px;
      height: 60px;
      background-color: #726dff;
      position: absolute;
      border-radius: 15px;
      text-align: center;
      line-height: 60px;
      font-weight: bold;
      color: #fff;
      transition: transform 0.3s ease;
      cursor: pointer;
    }

.float:hover { /* Hover effect */
    transform: scale(1.1);
    background-color: #71dffe;
    color: #000
}

footer { /* Footer styles */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #5c58d1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}